@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f8f6ee;
  padding: 50px 100px;

  border: 2px solid black;
  box-shadow: 15px 15px 1px #acc2ff, 15px 15px 1px 2px black;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  border: none;
  border-bottom: 3px solid black;
  background: #f0efef;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
}

.edit-label {
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  font-weight: bold;
  letter-spacing: 0.5px;
}
.form-control:focus {
  border-bottom: 5px solid #80bbff;
}

.form-btn {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background-color: #f1f1f1;
  color: black;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px #95a4ff, 3px 3px 1px 1px black;
}
.form-btn :hover {
  background: black;
  color: white;
  border: 1px solid black;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2a293e;
  // -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.return-btn {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-family: "Fjalla One";
  margin-bottom: 20px;
}
.return-btn:hover {
  background-color: #ddd;
  color: black;
}
