.depressed {
  box-shadow: inset 1px 1px 3px #222;
  margin: 3px -1px -1px 3px; /* T R B L */
  transform: translateY(1px);
}

.theme {
  text-transform: capitalize;
}

* {
  font-family: sans-serif;
}

textarea {
  overflow-y: scroll;
  padding: 6px;
  resize: none;
  border: 2px solid #c0c0c0;
  border-radius: 4px;
  transition: 0.4s;
  outline: none;
}

textarea:hover {
  border: 3px solid #a0a0a0;
}
.ace_editor,
.ace_editor * {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas",
    monospace !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}
