.margin {
  margin-right: 5%;
}
.h1 {
  font-size: 30px;
}
.notes {
  background: linear-gradient(
    180deg,
    rgb(173, 247, 250) 0%,
    rgb(187, 205, 255) 40%,
    rgb(187, 205, 255) 75%,
    rgb(187, 205, 255) 100%
  );
  padding-top: 2%;
  margin-top: 3%;
  font-family: "Kalam", cursive;
  font-size: 1rem;
  padding-left: 5%;
}
.itemconfiguration {
  height: 400px;
  overflow: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}
