pre {
  font: "Times New Roman", Times, serif;
  background-color: rgb(241, 240, 240);
  margin-left: 0.5%;
  padding-left: 0.5%;
  margin-right: 10%;
}
p {
  font: "Times New Roman", Times, serif;
  margin-right: 10%;
  margin-left: 0.5%;
  padding-left: 0.5%;
}

.problemTitle {
  padding: 10px 20px;
  font: normal 50px / normal "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  text-overflow: clip;
  text-shadow: -1px -1px 0 rgb(206, 206, 206);
}
.problemStatement h5 {
  font: 15px "Times New Roman", Times, serif;
  font-weight: 600;
}
.problemSolution h4 {
  font: 20px "Times New Roman", Times, serif;
}
.problemSolution h5 {
  font: 20px "Times New Roman", Times, serif;
  font-weight: 600;
}

.problemSolution h4 {
  font: 25px "Times New Roman", Times, serif;
  font-weight: 600;
}

.problemSolution pre {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #151515;
  color: #ffebbf;
  font-size: 1rem;
}

.problemSolution em {
  color: gray;
}

.card1 {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card1:not(:first-child) {
  margin-left: -50px;
}

.card1:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card1:hover ~ .card1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #003b7e;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card1:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: rgb(0, 204, 255);
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card1:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.problemMenu {
  font-family: "Open Sans", sans-serif;

  top: 60px;

  display: flex;
}

.list-group-item-primary {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;

  transition: 0.5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}


del,
strike {
  text-decoration: none;
  line-height: 1.4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.63em, transparent), color-stop(0.63em, #ff0000), color-stop(0.7em, #ff0000), color-stop(0.7em, transparent), to(transparent));
  background-image: -webkit-linear-gradient(top, transparent 0em, transparent 0.63em, #ff0000 0.63em, #ff0000 0.7em, transparent 0.7em, transparent 1.4em);
  background-image: -o-linear-gradient(top, transparent 0em, transparent 0.63em, #ff0000 0.63em, #ff0000 0.7em, transparent 0.7em, transparent 1.4em);
  background-image: linear-gradient(to bottom, transparent 0em, transparent 0.63em, #ff0000 0.63em, #ff0000 0.7em, transparent 0.7em, transparent 1.4em);
  -webkit-background-size: 1.4em 1.4em;
  background-size: 1.4em 1.4em;
  background-repeat: repeat;
}
